<%= form_with model: @user, class: "w-11/12 md:w-6/12 xl:w-4/12" do |form| %>
  <div class="email-password bg-white text-black rounded-2xl p-6 flex flex-col">
    <h3 class="font-bold text-authDarkGray text-2xl mb-3">Email and password</h3>
    <% if form.object&.errors&.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @token.present? %>
      <%= hidden_field_tag :team_invite_token, @token %>
    <% end %>
    <%= form.label :name, class: "flex justify-between items-center border-0 border-b mb-3" do %>
      <span class="font-bold text-authDarkGray">Your name</span>
      <%= form.text_field :name, required: true, autocomplete: "name",  data: { action: "focus->authenticate#focus blur->authenticate#blur"}, class: "form-input border-0 focus:ring-0 w-9/12" %>
    <% end %>
    <%= form.label :email, class: "flex justify-between items-center border-0 border-b mb-3" do %>
      <span class="font-bold text-authDarkGray">E-mail</span>
      <%= form.email_field :email, required: true, autocomplete: "email",  data: { action: "focus->authenticate#focus blur->authenticate#blur"}, class: "form-input border-0 focus:ring-0 w-9/12" %>
    <% end %>
    <%= form.label :password, class: "flex justify-between items-center border-0 border-b mb-3" do %>
      <span class="font-bold text-authDarkGray">Password</span>
      <%= form.password_field :password, required: true,
               pattern: "^(?=.*\d)(?=.*[a-zA-Z])(?=.*\W).{8,50}$",
               title: "Password must be 8 to 50 characters long, contain at least one number, one letter, and one symbol.",
               minlength: "8",
               maxlength: "50",
               autocomplete: "new-password",  data: { action: "focus->authenticate#focus blur->authenticate#blur"}, class: "form-input border-0 focus:ring-0 w-9/12" %>
    <% end %>
    <div class="flex justify-between mt-20">
      <button type="button" data-action="authenticate#navigate" data-target-page="home" data-current-page="sign-up" class="bg-white p-2 w-1/4 rounded-full text-authMidGray font-semibold border border-authLightGray">go back</button>
      <button type="submit" class="bg-authLink p-2 w-1/4 rounded-full text-white font-semibold">Continue</button>
    </div>
  </div>
<% end %>
